<ion-view view-title="Home" hide-nav-bar="true">
 
    <ion-content class="no-padding homeBackground">
        <ion-refresher on-refresh="refresh(true)" spinner="android"></ion-refresher>
        <header class="bar-header bar-stable no-padding">
            <ion-item nav-clear menu-close href="#" style="width:100%;">
                <span class="icon ion-leaf" style="float:right;"> Home</span>
            </ion-item>
        </header>
        <ion-list>
            <ion-item  item="item">
                phuntsog <br>
                Hello read my status 
            </ion-item>
            <ion-item item="item">
                Data goes here
            </ion-item>
            <ion-item item="item">
                Data goes here
            </ion-item>
            <ion-item item="item">
                Data goes here
            </ion-item>
            <ion-item item="item">
                Data goes here
            </ion-item>
            <ion-item item="item">
                Data goes here
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>